.card { 
    width: 20%;
    color:white;
    display: flex;
    flex-direction: row;
    }
.image { margin: 10px; height: 80% }
.description {
    /* margin: 40px; */
    display: flex;
    flex-direction: column;
    justify-content:center;
}
