.musicPlayer {
    background-color: #282828;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.audio {
    align-self: center;
    margin: 0 auto;
    max-width: 800px;
    width: 50vw;
    height: 40px;
}