.Row {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}
.Row:hover {
    background-color: #111;
}

.num {
    margin: 0 30px;
    width: 10%;
}

.song {
    width: 30%;
}

.artist {
    width: 30%
}

.album {
    width: 30%;
}