.card {
  min-width: 250px;
  width: 20vw;
  color: white;
  display: flex;
  flex-direction: row;
}

.image {
  margin: 0 15px;
  height: 80%;
  align-self: center;
}

.description {
  /* margin: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favoriteButton {
  color: white;
  font-size: 40px;
  margin: 0 15px;
  background: none;
  background-color: black;
  color: inherit;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  outline: inherit;
}

.favoriteButton:hover {
  background-color: rgb(110, 110, 110);
}
